/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1103-1112 {
        padding: var(--sectionPadding);
        background-color: #f7f8f8;
        .cs-topper{
            color: black;
        }
    }

    #pricing-1103-1112 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375em;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }

    #pricing-1103-1112 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #pricing-1103-1112 .cs-text {
        max-width: 25.8125rem;
        margin-bottom: 1rem;
    }

    #pricing-1103-1112 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }

    #pricing-1103-1112 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* 16px - 20px */
        gap: clamp(1rem, 1.8vw, 1.25rem);
        /* prevents flexbox from squishing it */
        flex: none;
    }

    #pricing-1103-1112 .cs-item {
        list-style: none;
        width: 100%;
        margin: 0;
        /* 24px - 40px top & Bottom */
        /* 16px - 32px left & right */
        padding: clamp(1.5rem, 3vw, 2.5rem) 1.5rem;
        background-color: #fff;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #pricing-1103-1112 .cs-package {
        /* 13px - 16px */
        font-size: clamp(0.8125rem, 1.4vw, 1rem);
        line-height: 1.2em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 0 0.5rem 0;
        color: #767676;
        display: block;
    }

    #pricing-1103-1112 .cs-price {
        /* 31px - 49px */
        font-size: var(--headerFontSize);
        line-height: 1.2em;
        text-align: center;
        font-weight: 900;
        margin: 0;
        color: var(--headerColor);
    }

    #pricing-1103-1112 .cs-ul {
        /* 20px - 25px */
        margin: clamp(1.25rem, 3vw, 1.5rem) 0 0 0;
        padding: clamp(1.25rem, 3vw, 1.5rem) 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        position: relative;
    }

    #pricing-1103-1112 .cs-ul:before {
        /* divider Line */
        content: "";
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg,
                rgba(232, 232, 232, 0.2) 0%,
                #e8e8e8 53.78%,
                rgba(232, 232, 232, 0.2) 100%);
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }

    #pricing-1103-1112 .cs-li {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        list-style: none;
        line-height: 1.2em;
        width: 100%;
        margin: 0;
        padding: 0;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: space-between;
        /* push everything to the top so if the li goes to two lines the icon stays at the top */
        align-items: flex-start;
        gap: 1rem;
    }

    #pricing-1103-1112 .cs-li.cs-disabled {
        opacity: 0.5;
    }

    #pricing-1103-1112 .cs-li.cs-disabled .cs-icon {
        filter: grayscale(1) brightness(300%);
    }

    #pricing-1103-1112 .cs-icon {
        width: 1.125rem;
        height: auto;
        display: block;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1103-1112 .cs-card-group {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: nowrap;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-1103-1112 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }

    #pricing-1103-1112 .cs-title {
        max-width: 14ch;
    }

    #pricing-1103-1112 .cs-card-group {
        width: 62%;
        max-width: 52.9375rem;
    }
}


@media only screen and (min-width: 0rem) {
    body {
    }
    .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: black;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    .cs-button-solid:hover:before {
        width: 100%;
        
    }
    .cs-button-solid:hover{
        color:white;
    }
}