/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-contact-240 {
    padding: var(--sectionPadding);
    padding-top: 12.5rem;
  }
  #cs-contact-240 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cs-contact-240 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #cs-contact-240 .cs-left-section {
    width: 100%;
  }
  #cs-contact-240 #cs-form-240 {
    width: 100%;
  }
  #cs-contact-240 .cs-label {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    /* 12px - 20px */
    margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #cs-contact-240 .cs-label-message {
    /* 32px - 48px */
    margin-bottom: clamp(2rem, 5.3vw, 3rem);
  }
  #cs-contact-240 .cs-input,
  #cs-contact-240 .cs-textarea {
    font-size: 1rem;
    width: 100%;
    height: 4rem;
    margin-top: 0.25rem;
    /* prevents border & padding from affecting height */
    box-sizing: border-box;
    padding-left: 1.25rem;
    border: 1px solid #b4b2c7;
    border-radius: 0.5rem;
    transition: border 0.3s;
  }
  #cs-contact-240 .cs-input:hover,
  #cs-contact-240 .cs-textarea:hover {
    border: 1px solid var(--primary);
  }
  #cs-contact-240 .cs-textarea {
    font-family: inherit;
    min-height: 7.5rem;
    margin: 0;
    padding-top: 1.25rem;
  }
  #cs-contact-240 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cs-contact-240 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cs-contact-240 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-contact-240 .cs-submit {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
  }
  #cs-contact-240 .cs-right-section {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 24px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
    background-color: var(--bodyTextColorWhite);
    /* cuts off corners on img tag */
    overflow: hidden;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* 28px - 40px */
    gap: clamp(1.75rem, 4vw, 2.5rem);
    position: relative;
  }
  #cs-contact-240 .cs-ul {
    margin: 0;
    padding: 0;
  }
  #cs-contact-240 .cs-li {
    list-style: none;
    /* 16px - 20px */
    margin-bottom: clamp(1rem, 2vw, 1.25rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #cs-contact-240 .cs-li:hover .cs-icon-wrapper {
    transform: scale(1.2);
  }
  #cs-contact-240 .cs-li:last-of-type {
    margin-bottom: 0;
  }
  #cs-contact-240 .cs-header {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    display: block;
  }
  #cs-contact-240 .cs-link {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColor);
    position: relative;
  }
  #cs-contact-240 .cs-link:hover:before {
    width: 100%;
  }
  #cs-contact-240 .cs-link:before {
    /* top right box */
    content: "";
    width: 0%;
    height: 2px;
    /* current color of parent */
    background: currentColor;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
  }
  #cs-contact-240 .cs-icon-wrapper {
    width: 4rem;
    height: 4rem;
    /* 16px - 20px */
    margin-right: clamp(1rem, 2vw, 1.25rem);
    background-color: #fff;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #cs-contact-240 .cs-icon {
    /* 32px -36px */
    width: clamp(2rem, 3vw, 2.25rem);
    height: auto;
    display: block;
  }
  #cs-contact-240 .cs-picture {
    width: 100%;
    /* clips image corners */
    overflow: hidden;
    border-radius: 0.5rem;
    display: block;
    position: relative;
    /* width divided height */
    aspect-ratio: 288/200;
  }
  #cs-contact-240 .cs-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #cs-contact-240 #cs-form-240 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #cs-contact-240 .cs-label {
    width: 48%;
  }
  #cs-contact-240 .cs-label-message {
    width: 100%;
  }
  #cs-contact-240 .cs-button-solid {
    margin-left: 0;
  }
  #cs-contact-240 .cs-right-section {
    flex-direction: row;
    align-items: center;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-contact-240 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    /* 60px - 108px */
    gap: clamp(3.75rem, 7.9vw, 6.75rem);
  }
  #cs-contact-240 .cs-left-section {
    max-width: 32.625rem;
  }
  #cs-contact-240 .cs-label {
    width: 100%;
  }
  #cs-contact-240 .cs-right-section {
    width: 40vw;
    max-width: 39.375rem;
    flex-direction: column;
    align-items: flex-start;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #cs-contact-240 .cs-picture {
    width: 100%;
    max-width: 100%;
    height: 27.375rem;
  }
}

                                