/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #footer-2345 {
    /* padding: var(--sectionPadding); */
    padding-top: 0;
    /* 32px - 60px */
    /* padding-bottom: clamp(2rem, 7vw, 3.75rem); */
  }
  #footer-2345 .cs-container {
    width: 100%;
    /* max-width: 112.5rem; */
    margin: auto;
    /* 24px - 100px top & bottom */
    /* 16px - 100px left & right */
    padding: clamp(1.5rem, 8vw, 6.25rem) clamp(1rem, 6.5vw, 6.25rem);
    /* 24px - 40px */
    padding-bottom: clamp(1.5rem, 5vw, 2.5rem);
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
  }
  #footer-2345 .cs-cta {
    width: 100%;
    /* 80px - 128px */
    margin-bottom: clamp(5rem, 10vw, 8rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    column-gap: 4rem;
  }
  #footer-2345 .cs-title {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 3vw, 2.4375rem);
    max-width: 75rem;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #footer-2345 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #000;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #footer-2345 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #footer-2345 .cs-button-solid:hover:before {
    width: 100%;
  }
  #footer-2345 .cs-button-solid:hover{
    color: white; 
  }
  #footer-2345 .cs-button-solid {
    flex: none;
  }
  #footer-2345 .cs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #footer-2345 .cs-content {
    max-width: 32.25rem;
  }
  #footer-2345 .cs-logo {
    width: 10.875rem;
    height: auto;
    margin-bottom: 1rem;
    display: block;
  }
  #footer-2345 .cs-text {
    /* 32px - 60px */
    margin-bottom: clamp(2rem, 7vw, 3.75rem);
    color: var(--bodyTextColorWhite);
  }
  #footer-2345 .cs-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
  }
  #footer-2345 .cs-nav-li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #footer-2345 .cs-nav-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #footer-2345 .cs-nav-link:hover {
    color: var(--primary);
  }
  #footer-2345 .cs-ul {
    width: 100%;
    max-width: 47.25rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 24px - 32px */
    row-gap: clamp(1.5rem, 5vw, 2rem);
    /* 24px - 64px */
    column-gap: clamp(1.5rem, 5vw, 2rem);
  }
  #footer-2345 .cs-li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    grid-column: span 12;
  }
  #footer-2345 .cs-header {
    font-size: 1rem;
    line-height: 1.5em;
    color: #A3A3A3;
    display: block;
  }
  #footer-2345 .cs-contact {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-decoration: none;
    font-weight: 700;
    color: var(--bodyTextColorWhite);
  }
  #footer-2345 .cs-logo {
    width: 10.875rem;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
  }
  #footer-2345 .cs-logo-img {
    width: 100%;
    height: auto;
    display: block;
  }
  #footer-2345 .cs-flex {
    width: 100%;
    max-width: 17.6875rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.25rem;
  }
  #footer-2345 .cs-wrapper {
    width: 100%;
    display: flex;
  }
  #footer-2345 .cs-copyright,
  #footer-2345 .cs-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    color: #A3A3A3;
    display: inline-block;
    transition: color 0.3s;
  }
  #footer-2345 .cs-link:hover {
    color: var(--primary);
  }
  #footer-2345 .cs-bottom {
    width: 100%;
    /* 48px - 60px */
    margin-top: clamp(3rem, 7vw, 3.75rem);
    /* 24px - 40px */
    padding-top: clamp(1.5rem, 5vw, 2.5rem);
    border-top: 1px solid #434240;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  #footer-2345 .cs-copyright {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
  }
  #footer-2345 .cs-copyright-link {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #footer-2345 .cs-copyright-link:hover {
    color: var(--primary);
  }
  #footer-2345 .cs-terms {
    display: flex;
    align-items: center;
    order: -1;
  }
  #footer-2345 .cs-divider {
    font-size: 1rem;
    margin: 0 1rem;
    color: #a3a3a3;
    display: inline-block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer-2345 .cs-ul {
    width: 80%;
    max-width: 44rem;
  }
  #footer-2345 .cs-li {
    grid-column: span 6;
  }
  #footer-2345 .cs-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer-2345 .cs-terms {
    order: initial;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #footer-2345 .cs-cta {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #footer-2345 .cs-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer-2345 .cs-ul {
    width: 50%;
  }
  #footer-2345 .cs-li {
    grid-column: span 12;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #footer-2345 .cs-li {
    grid-column: span 6;
  }
}
                                