/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1623 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    z-index: 15;
  }
  #services-1623 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #BABABA;
    background-color: #f7f7f7;
    box-sizing: border-box;
    grid-column: span 12;
    transition: background-color 0.3s, border-color 0.3s;
  }
  #services-1623 .cs-item:last-of-type {
    border-bottom: none;
  }
  #services-1623 .cs-link {
    text-decoration: none;
    /* 32px - 60px top & Bottom */
    /* 16px - 60px left & right */
    padding: clamp(2rem, 5.3vw, 3.75rem) clamp(1rem, 2.74vw, 2.5rem);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #services-1623 .cs-icon {
    /* 32px - 40px */
    height: clamp(2rem, 4vw, 2.5rem);
    width: auto;
    /* 20px - 40px */
    margin: 0 0 clamp(1.25rem, 3vw, 2.5rem) 0;
  }
  #services-1623 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    text-align: inherit;
    line-height: 1.2em;
    /* 8px - 16px */
    margin: 0 0 clamp(0.5rem, 2vw, 1rem) 0;
    color: var(--headerColor);
    transition: color .3s;
  }
  #services-1623 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color .3s, opacity .3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1623 .cs-item {
    grid-column: span 6;
  }
  #services-1623 .cs-item:nth-of-type(3) {
    border-bottom: none;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1623 .cs-item {
    grid-column: span 3;
    border-bottom: 0;
    border-right: 1px solid #BABABA;
  }
  #services-1623 .cs-item:hover {
    background-color: #111926;
    border-color: #111926;
  }
  #services-1623 .cs-item:hover .cs-h3,
  #services-1623 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  #services-1623 .cs-item:hover .cs-item-text {
    opacity: .8;
  }
  #services-1623 .cs-item:last-of-type {
    border: none;
  }
}
                                